<div class="search-container" id="globalsearch" onclick="toggleSearch()">
    <div class="search-box">
        <input type="search" id="term" placeholder="可搜索标题，标签，内容">
        <div id="search-results"></div>
        <footer class="search-box-footer">
            <div class="navigation-hint">
                <span>按回车确定</span>
            </div>

            <div class="navigation-hint align-icon">
                <i  icon-name="arrow-up" aria-hidden="true"></i>
                <i  icon-name="arrow-down" aria-hidden="true"></i>
                <span> 切换选择</span>
            </div>

            <div class="navigation-hint">
                <span>按ESC关闭</span>
            </div>

        </footer>
    </div>
</div>
{%include "components/searchScript.njk"%}
